<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="voice_to_text">
        
        <button id="mic">Click the mic to speak</button>
    </div>
    <script src="script.js"></script>
</body>
</html>